# Rename to .env and fill in your API keys
DISCORD_TOKEN=
DISCORD_CHANNEL_ID=
OLLAMA_URL=
GEMINI_API_KEY=
GROQ_API_KEY=
DEEPSEEK_API_KEY=
GLM_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
OPENROUTER_API_KEY=

VDM_PROMPT_FILE=vdm_prompt.txt
LLM_PROVIDER=deepseek
LLM_MODEL=deepseek-chat
